DATABASE_URL="postgres://user:password@pooled.db.prisma.io:5432/postgres?sslmode=require"
JWT_SECRET="parkpass_super_secret_jwt_key_2026_production_grade"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
